<div class="wrapper-system-card">
  <div class="info">
    <p>ID: <strong id="id">{{id}}</strong></p>
    <p>Device: <strong id="device">{{device}}</strong></p>
    <p>Created At: <strong id="created-at">{{createdAt}}</strong></p>
    <a href="sms:99999999?body=Oi" (click)="sendSMS()">Send SMS</a>

    <div class="useIAButton">
      <input type="checkbox" name="useAI" id="useAI" (click)="useAI()" [checked]="usingAI" class="useAI"><label
        for="useAI" class="useAI">Use AI control</label>
    </div>
  </div>

  <div class="icons">
    <app-data-card title="Huminity" srcIcon="./assets/drip.png" [value]="valueHuminity" altIcon="A drip icon"
      hexBgColor="#93D8D7"></app-data-card>
    <app-data-card title="Temperature" srcIcon="./assets/thermometer.png" [value]="valueTemperature"
      altIcon="A thermometer icon" hexBgColor="#93D8A6"></app-data-card>
    <app-data-card title="Luminocity" srcIcon="./assets/sun.png" [value]="valueLuminocity" altIcon="A sun icon"
      hexBgColor="#D2D893"></app-data-card>
    <app-data-card title="Battery Charge" srcIcon="./assets/full-battery.png" [value]="valueBatteryCharge"
      altIcon="A battery charged icon" hexBgColor="#a0d893"></app-data-card>
    <app-data-card title="Is Charging?" srcIcon="./assets/battery-charging.png" [value]="isBatteryCharging"
      altIcon="A battery charging icon" hexBgColor="#d8aa93"></app-data-card>

    <button (click)="goToDetails(device)">See Details</button>
  </div>
</div>
