.wrapper-system-card {
  border: 2px solid brown;
  width: 18rem;
  height: 45rem;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .useIAButton {
    width: 100%;
    height: 1rem;
    margin: 0.5rem;
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  // gap: 0.1rem;
}
