<h1>Modular Irrigation - Dashboard</h1>

<div class="content">
  <!-- Colocar para ele receber esses dados dinamicamente através do ngfor e excluir os dispositivos repetidos -->
  <app-system-card [device]="deviceNumber1"></app-system-card>
  <app-system-card [device]="deviceNumber2"></app-system-card>
  <app-system-card [device]="deviceNumber3"></app-system-card>
</div>

<a href="https://www.freepik.com/icon/sun_9477735#fromView=search&page=1&position=36&uuid=886da7a4-3e9b-4506-964c-bd7c36d697db">Icon by Freepik</a>
<a href="https://www.flaticon.com/br/icones-gratis/bateria" title="bateria ícones">Bateria ícones criados por edt.im - Flaticon</a>
<a href="https://www.flaticon.com/br/icones-gratis/bateria" title="bateria ícones">Bateria ícones criados por DinosoftLabs - Flaticon</a>
